---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");

	const uniqueTags = [
		...new Set(allPosts.map((post) => post.data.tags).flat()),
	];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.data.tags.includes(tag)
		);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
	<div class="main">
		<p class="Keytext">Posts tagged with {tag}</p>
		<div class="posts">
			{
				posts.map(
					(post: {
						url: any;
						frontmatter: {
							title: any;
							pubDate: string | any[];
							image: any;
							tags: any;
						};
					}) => (
						<BlogPost
							url={"/posts/" + post.slug}
							title={post.data.title}
							pubDate={post.data.pubDate.toDateString()}
							image={post.data.image}
							tags={post.data.tags}
						/>
					)
				)
			}
		</div>
		<button class="back" type="button" onclick="
		history.back()
		">戻る</button
		>
	</div>
</BaseLayout>

<style>
	@font-face {
		font-family: "DotGothic16";
		src: url("/fonts/DotGothic16-Regular.ttf");
	}
	.main {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		text-align: center;
		font-family: "DotGothic16", sans-serif;
	}
	.Keytext {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
		margin-top: 20%;
		text-align: center;
	}
	.posts {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}
	@media screen and (max-width: 1200px) {
		.posts {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}
	}
</style>
