---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
const identity = {
	firstName: "nimoca",
	country: "Japan",
	occupation: "College Student",
};

const skills = ["JavaScript", "React", "Python", "Japanese", "English"];
const qualifications = [
	"KANKEN Level 3",
	"Ordinary car first class driver's license",
];
---

<BaseLayout pageTitle={pageTitle}>
	<div class="main">
		<p class="Keytext">
			<span class="firstName">{identity.firstName}</span>'s Profile.<br />
			{identity.occupation}.
		</p>
		<p class="Subtext">Language</p>
		<ul class="items">
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		<p class="Subtext">Qualification</p>
		<ul class="items">
			{
				qualifications.map((qualification) => (
					<li class="qualification">{qualification}</li>
				))
			}
			<li class="TOEIC">TOEIC 合格</li>
		</ul>
	</div>
</BaseLayout>

<audio id="wakatte_audio">
	<source src="./assets/audiostock75515.mp3" type="audio/mp3" />
</audio>

<script is:inline>
document.querySelector(".TOEIC").addEventListener("click", () => {
	document.getElementById("wakatte_audio").currentTime = 0; //連続クリックに対応
	document.getElementById("wakatte_audio").play(); //クリックしたら音を再生
});
</script>

<style>
	@font-face {
		font-family: "DotGothic16";
		src: url("/fonts/DotGothic16-Regular.ttf");
	}
	.main {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		text-align: center;
		font-family: "DotGothic16", sans-serif;
		position: absolute;
		top: 20%;
	}
	.Keytext {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	.firstName {
		color: #423ceb;
	}
	.Subtext {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	.items {
		justify-content: center;
		gap: 1.6rem;
	}
</style>
