---
import BaseLayout from "../layouts/BaseLayout.astro";
import TOEIC from "../components/TOEIC.astro";

const pageTitle = "nimoca's Profile";
const identity = {
	firstName: "nimoca",
	country: "Japan",
	occupation: "College Student",
};

const skills = ["JavaScript", "React", "Python", "Japanese", "English"];
const qualifications = [
	"KANKEN Level 3",
	"Ordinary car first class driver's license",
];
---

<BaseLayout pageTitle={pageTitle}>
	<div class="about">
		<p class="Keytext">
			<span class="firstName">{identity.firstName}</span>'s Profile.<br />
			{identity.occupation}.
		</p>
		<p class="Subtext">Language</p>
		<list class="items">
			{skills.map((skill) => <p class="skill">{skill}</p>)}
		</list>
		<p class="Subtext">Qualification</p>
		<list class="items">
			{
				qualifications.map((qualification) => (
					<p class="qualification">{qualification}</p>
				))
			}
			<TOEIC />
		</list>
	</div>
</BaseLayout>

<style>
	@font-face {
		font-family: "DotGothic16";
		src: url("/fonts/DotGothic16-Regular.ttf");
	}
	.about {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-family: "DotGothic16", sans-serif;
		margin-top: 10%;
		margin-bottom: 25px;
	}
	@media screen and (max-width: 480px) {
		.about {
			transform: translateY(45px);
			transition: transform 2s;
		}
	}
	.Keytext {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	.firstName {
		color: #423ceb;
	}
	.Subtext {
		margin-top: auto;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	.items {
		justify-content: center;
	}
	.skill {
		margin-top: auto;
	}
	.qualification {
		margin-top: auto;
	}
</style>
